/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color:  rgb(0, 0, 33); 
  color: white;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 2px solid yellow; */
}
.head{
   /* border: 2px solid yellow; */
   position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1000;

}

.ham{
    display: none;
    /* border: 2px solid red; */
}

.n
{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color:rgb(18, 18, 62) ;
     /* border: 2px solid red; */
    
}

nav ul
{
    display: flex;
    list-style: none;
    gap: 3vw
    /* border: 2px solid yellow; */
    
}

nav ul li{
    /* border: 2px solid green; */
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(96, 96, 167);
    font-size: 1.04rem;
}

.left
{
  font-size: 1.5rem;
  /* border: 2px solid yellow; */
 
}

.right{
    /* border: 2px solid red; */
    display: flex;
    gap: 5vw;
}


.b{
    display: none;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 10001;
}


/* About Section */
.about-section {
    margin: 8vw 0vw 5vw 0vw;
    /* border: 2px solid paleturquoise; */
}

.about-me{
margin: 0vw 8vw;
font-size: 1.5vw;
color: white;

}

.about-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
  /* border: 2px solid pink; */
}
.left-main {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 /* border: 2px solid grey;  */
   font-size:4vw;
   width: 37%; 
   /* padding: 5px; */
}

.right-main{
  display: flex;
  justify-content: center;
  align-items: center;
     /* border: 2px solid rgb(186, 44, 146);  */
     width: 30%;  
    
}

.about-text p {
  line-height: 1.8;
  font-size: 1.1vw;
  color: #d1d1e0;
  margin-bottom: 15px;
}

.highlight {
  color: #a855f7;
  font-weight: 600;
}

/* Image */
.image{
     width: 24vw;
      margin: 0px 0px;
    border-radius:178px;
}

.about-me2{
  display: none;
}

/* Footer */

footer{
    background-color: #020614;
    color: white;
}

.name{
    text-align: center;
    /* border: 2px solid yellow; */
    padding: 2vw;
}

.content{
    text-align: center;
    /* border: 2px solid green; */
    padding: 1vw;
}

.social{
    /* text-align: center; */
    /* border: 2px solid red; */
    padding: 0.6vw;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2vw;

}

.down{
     text-align: center;
     color: grey;
     font-size: 0.9rem;
      padding-top: 1vw;
      background-color: black;
}

.social a{
    text-decoration: none;
    color: white;
}

.leftsec a{
    text-decoration: none;
    color: white;
}
/* ------------------------------------------------------------------------- */

.leftsec{
    font-size: 3vw;
    line-height: 5vw;
}


#element{
    font-size: 3vw;
}

.purple{
    font-size: 3vw;
}

.correct{
    font-size: 3vw;
}


.correct2{
    font-size: 3vw;
}

@media (max-width:600px) {

  .b{
        display: block;
        font-size: 6vw;
        margin-right: 5vw;
    }

  
.n
{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color:rgb(18, 18, 62) ;
     /* border: 2px solid red; */
    
}

.left{
    font-size: 5vw;
    margin-left: 7vw;
     /* border: 2px solid yellow; */
}

.navbar{
    position: absolute;
    top: 108%;
    right: -100%;
    width: 65vw;
    height: 900vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
    /* background-color:rgb(18, 18, 62) ; */
     backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  background: rgba(0, 0, 0, 0.6); /* Transparent color */

}

.navbar a{
    padding: 19px;
}
.navbar  li{
    padding: 15px;
    border: 0.9px solid  rgb(215, 184, 243);
    border-radius: 10px;
    margin: 8px;
}

.navbar a:hover{
    color: rgb(217, 108, 236);
    transform: translate(5px);
}

.navbar a.active{
    color: rgb(217, 108, 236);
}
.navbar.open{
    right: 2%;

}
.right{
    /* display: none; */
}

.ham{
    display: block;
    font-weight: bolder;
     /* border: 2px solid green; */
     margin-right: 7vw;
     font-size: 5vw;
}

  .about-me{
    display: none;
  }
  .about-me2{
    display: block;
            margin-bottom: 4.5vw;
            margin-top: 3.5vw;

    font-size: 3.5vw;
  }

  .about-section{
    display: flex;
    flex-direction: column;
    margin: 27vw 0vw 5vw 0vw;
    /* width: 100%; */
    /* border: 2px solid red; */
  }

  .about-text{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
  }

  .left-main{
    width: 100%;
    padding: 5vw;
    /* border: 2px solid orangered; */
  }

   .left-main p{
    font-size: 3vw;
   }

  .right-main{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid pink; */
  }

  .about-me{
    /* border: 2px solid green; */
    margin-left:3vw;
    padding: 0vw;
}

.right-main img{
  width: 48vw;
}

 
footer .name{
    font-size: 3.5vw;
}

footer .content{
    font-size: 2.5vw;
}

.social li{
    font-size: 2.5vw;
   padding-block: 4vw;
}

footer .down{
    font-size: 2.5vw;
}
  
}