

footer{
    background-color: #020614;
    color: white;
}

.name{
    text-align: center;
    /* border: 2px solid yellow; */
    padding: 10px;
}

.content{
    text-align: center;
    /* border: 2px solid green; */
    padding: 3px;
}

.social{
    /* text-align: center; */
    /* border: 2px solid red; */
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.down{
     text-align: center;
     color: grey;
     font-size: 0.9rem;
}